@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model EmpresaCadetes.Entidades.Cadeteria
    
    <table class="table table-sm table-dark">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre Cadete</th>
                <th scope="col">Telefono</th>
                <th scope="col">Pedidos</th>
                <th scope="col">Pagar Cadete</th>
            </tr>
        </thead>
        <tbody>


            @foreach (var cadete in Model.MisCadetes )
            {

            
            <tr>
                <th scope="row">@cadete.Id</th>
                <td>@cadete.Nombre</td>
                <td>@cadete.Telefono</td>
                <td>

                    @if (cadete.Listapedidos.Count() == 0)
                    {
                       <p>No tiene pedidos asignados</p>
                    }
                    else
                    {
                        <select name="idPedido">
                            @foreach (var pedido in cadete.Listapedidos)
                            {

                                <option value="@pedido.Numero">@pedido.Numero Del Cliente:@pedido.NewCliente.Nombre Estado (@pedido.Estado)</option>

                            }
                        </select>
                            }
                        </td>
                        <td>
                            <input class="btn-lg" type="submit" name="pagar" value="PAGAR" />
                        </td>
            </tr>
            }
        </tbody>
    </table>